NodeRED_Flows/FPS_Flow.json
[{"id":"55b6fa7f.5df3a4","type":"websocket in","z":"21201571.1af2fa","name":"","server":"7076da05.7db554","client":"","x":170,"y":240,"wires":[["879b564e.66a778","87bc7ded.43f38"]]},{"id":"879b564e.66a778","type":"debug","z":"21201571.1af2fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":180,"wires":[]},{"id":"a6911603.156218","type":"alexa-remote-sequence","z":"21201571.1af2fa","name":"","account":"a8ece15a.f993d","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Player Dead!"}],"x":780,"y":360,"wires":[[]]},{"id":"dbe24493.affd58","type":"hue-light","z":"21201571.1af2fa","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1050,"y":440,"wires":[[]]},{"id":"e803ec48.fc241","type":"function","z":"21201571.1af2fa","name":"PLAYER_ALIVE_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 0, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":420,"wires":[["dbe24493.affd58"]]},{"id":"ad5a5d39.02175","type":"delay","z":"21201571.1af2fa","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":480,"wires":[["dcd00496.5184c8"]]},{"id":"dcd00496.5184c8","type":"function","z":"21201571.1af2fa","name":"PLAYER_ALIVE_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["dbe24493.affd58"]]},{"id":"87bc7ded.43f38","type":"switch","z":"21201571.1af2fa","name":"Output Controller","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Game Start...","vt":"str"},{"t":"eq","v":"Player Dead...","vt":"str"},{"t":"eq","v":"Player Reloading...","vt":"str"},{"t":"eq","v":"Shot fired...","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":240,"wires":[["567cc83c.ec2ce8","660145b5.140bac","47f78fb5.073aa"],["a6911603.156218","e803ec48.fc241","ad5a5d39.02175"],["93cad631.87ef08","b78c140b.d46bd8","acd46d10.e29fe"],["5c531629.f23bd8","9896cbc6.35acf8","d8c2e3dd.f0198"]]},{"id":"93cad631.87ef08","type":"alexa-remote-sequence","z":"21201571.1af2fa","name":"","account":"a8ece15a.f993d","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Reloading Gun"}],"x":780,"y":600,"wires":[[]]},{"id":"e0e9baa9.ded4f8","type":"comment","z":"21201571.1af2fa","name":"Player Dead","info":"","x":770,"y":320,"wires":[]},{"id":"5f4913bf.9dde5c","type":"comment","z":"21201571.1af2fa","name":"Player Reloading","info":"","x":780,"y":560,"wires":[]},{"id":"931fd152.25f9e","type":"hue-light","z":"21201571.1af2fa","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1070,"y":680,"wires":[[]]},{"id":"b78c140b.d46bd8","type":"function","z":"21201571.1af2fa","name":"PLAYER_RELOADING_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [107, 243, 220]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":660,"wires":[["931fd152.25f9e"]]},{"id":"acd46d10.e29fe","type":"delay","z":"21201571.1af2fa","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":700,"wires":[["efac9fe9.fa2a4"]]},{"id":"efac9fe9.fa2a4","type":"function","z":"21201571.1af2fa","name":"PLAYER_RELOADING_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":700,"wires":[["931fd152.25f9e"]]},{"id":"d8c2e3dd.f0198","type":"alexa-remote-sequence","z":"21201571.1af2fa","name":"","account":"a8ece15a.f993d","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Shot Fired!"}],"x":780,"y":800,"wires":[[]]},{"id":"6ed6b405.a3b74c","type":"comment","z":"21201571.1af2fa","name":"Player Shooting","info":"","x":780,"y":760,"wires":[]},{"id":"2622c121.47790e","type":"hue-light","z":"21201571.1af2fa","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1070,"y":880,"wires":[[]]},{"id":"5c531629.f23bd8","type":"function","z":"21201571.1af2fa","name":"PLAYER_SHOOTING_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":860,"wires":[["2622c121.47790e"]]},{"id":"9896cbc6.35acf8","type":"delay","z":"21201571.1af2fa","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":900,"wires":[["edbfea53.06ec08"]]},{"id":"edbfea53.06ec08","type":"function","z":"21201571.1af2fa","name":"PLAYER_SHOOTING_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":900,"wires":[["2622c121.47790e"]]},{"id":"567cc83c.ec2ce8","type":"alexa-remote-sequence","z":"21201571.1af2fa","name":"","account":"a8ece15a.f993d","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"May the odds be ever in your favour"}],"x":780,"y":160,"wires":[[]]},{"id":"fbcb9273.dded7","type":"hue-light","z":"21201571.1af2fa","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1050,"y":240,"wires":[[]]},{"id":"47f78fb5.073aa","type":"function","z":"21201571.1af2fa","name":"GAME_START_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [0, 255, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["fbcb9273.dded7"]]},{"id":"660145b5.140bac","type":"delay","z":"21201571.1af2fa","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":260,"wires":[["e3e79584.3eb728"]]},{"id":"e3e79584.3eb728","type":"function","z":"21201571.1af2fa","name":"GAME_START_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["fbcb9273.dded7"]]},{"id":"5034d7ac.5455c8","type":"comment","z":"21201571.1af2fa","name":"Game Start","info":"","x":770,"y":120,"wires":[]},{"id":"7076da05.7db554","type":"websocket-listener","z":"","path":"/ws/fpssample","wholemsg":"false"},{"id":"a8ece15a.f993d","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"169.254.243.241","proxyPort":"3456","cookieFile":"alexa-cookie.json","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"16812e91.708ac1","type":"hue-bridge","z":"","name":"Philips hue","bridge":"10.0.0.5","key":"eX73dVf5gA6mYEU-B0V36NIpAi6ssHTjmz9T4Apw","interval":"3000"}]