NodeRED_Flows/Space-Invaders_MAIN.json
[{"id":"38213bd9.794564","type":"http response","z":"c122c592.5ac158","name":"","x":2330,"y":300,"wires":[]},{"id":"fd71f80f.537348","type":"http in","z":"c122c592.5ac158","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":1990,"y":300,"wires":[["c8cf8c.3014c078","80b35afa.9373e8"]]},{"id":"c8cf8c.3014c078","type":"template","z":"c122c592.5ac158","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":2170,"y":300,"wires":[["38213bd9.794564"]]},{"id":"80b35afa.9373e8","type":"debug","z":"c122c592.5ac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2170,"y":260,"wires":[]},{"id":"60e32eb2.e6e8c","type":"debug","z":"c122c592.5ac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":187.00003051757812,"y":190.55555152893066,"wires":[]},{"id":"b231ebe7.f900b8","type":"websocket in","z":"c122c592.5ac158","name":"","server":"82d50fd7.1b494","client":"","x":175.00003051757812,"y":264.55555152893066,"wires":[["60e32eb2.e6e8c","2da45d53.dd9662","42382352.a43dfc","a3f52199.6417c","85e621c3.a38f6"]]},{"id":"361069ca.4f7b46","type":"rpi-gpio out","z":"c122c592.5ac158","name":"GREEN LED","pin":"18","set":true,"level":"0","freq":"","out":"out","x":395.0000305175781,"y":396.55555152893066,"wires":[]},{"id":"2da45d53.dd9662","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":198.00003051757812,"y":370.55555152893066,"wires":[["48e038a7.5f2398","b890409a.822e8","c7825e3c.b61af","361069ca.4f7b46"]]},{"id":"48e038a7.5f2398","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":175.00003051757812,"y":445.55555152893066,"wires":[["bd6d5db0.94a88"]]},{"id":"bd6d5db0.94a88","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.0000419616699,"y":475.444429397583,"wires":[["361069ca.4f7b46"]]},{"id":"b890409a.822e8","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":173.00003051757812,"y":492.55555152893066,"wires":[["612cbcca.4219a4"]]},{"id":"612cbcca.4219a4","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":341.0000419616699,"y":517.444429397583,"wires":[["361069ca.4f7b46"]]},{"id":"c7825e3c.b61af","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":171.00003051757812,"y":537.5555515289307,"wires":[["2d493318.a1bbcc"]]},{"id":"2d493318.a1bbcc","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.0000419616699,"y":558.444429397583,"wires":[["361069ca.4f7b46"]]},{"id":"42382352.a43dfc","type":"wiotp out","z":"c122c592.5ac158","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"dc178bed.18a9b8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":372.0000305175781,"y":179.55555152893066,"wires":[]},{"id":"a3f52199.6417c","type":"switch","z":"c122c592.5ac158","name":"LED Controller","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Player Dead. Ending Game...","vt":"str"},{"t":"eq","v":"Reset RED LED...","vt":"str"},{"t":"eq","v":"Enemy Shot...","vt":"str"},{"t":"eq","v":"Speed Up Collected...","vt":"str"},{"t":"eq","v":"Reset BLUE LED...","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":385.0000305175781,"y":323.55555152893066,"wires":[["9f95eafd.119c08","af534258.6073a","252c7b95.b95a24","3db1454a.b829aa","615d9b4.ba86364"],["597b362.f7ba5c8","b513c511.6d3e18"],["fb66596f.af52b8","b0be3606.488f38","b01b9068.1f4a1","76e6aac0.e36b84"],["163f4f6a.3e4171","ddc74e57.56d46","db044021.1a28f","60f0dd8.5dcdb24","59c3ec67.599064"],["e97acd4d.6b444","17eddd4c.e5f0f3"]]},{"id":"9f95eafd.119c08","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":722.7778396606445,"y":277.44444274902344,"wires":[["2afcaa2e.0e0206"]]},{"id":"2afcaa2e.0e0206","type":"rpi-gpio out","z":"c122c592.5ac158","name":"RED LED","pin":"12","set":true,"level":"0","freq":"","out":"out","x":928.0000305175781,"y":303.55555152893066,"wires":[]},{"id":"597b362.f7ba5c8","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":723.7778396606445,"y":321.44444274902344,"wires":[["aef53c68.263b1","2afcaa2e.0e0206"]]},{"id":"492490cd.5617d","type":"rpi-gpio out","z":"c122c592.5ac158","name":"YELLOW LED","pin":"16","set":true,"level":"0","freq":"","out":"out","x":918.3334197998047,"y":424.55552864074707,"wires":[]},{"id":"fb66596f.af52b8","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":725.7778396606445,"y":362.44444274902344,"wires":[["492490cd.5617d"]]},{"id":"b0be3606.488f38","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":549.5555801391602,"y":386.8888645172119,"wires":[["2da1dccd.c58ae4"]]},{"id":"2da1dccd.c58ae4","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":725.7778396606445,"y":406.44444274902344,"wires":[["492490cd.5617d"]]},{"id":"aef53c68.263b1","type":"rpi-gpio out","z":"c122c592.5ac158","name":"BUZZER","pin":"15","set":true,"level":"0","freq":"","out":"out","x":910.0000305175781,"y":247.55555152893066,"wires":[]},{"id":"af534258.6073a","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":508.0000305175781,"y":244.55555152893066,"wires":[["dc61c19.b2ff94"]]},{"id":"dc61c19.b2ff94","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":721.7778396606445,"y":233.44444274902344,"wires":[["aef53c68.263b1"]]},{"id":"163f4f6a.3e4171","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":724.7778396606445,"y":443.44444274902344,"wires":[["e06237f7.5670b8"]]},{"id":"e06237f7.5670b8","type":"rpi-gpio out","z":"c122c592.5ac158","name":"BLUE LED","pin":"32","set":true,"level":"0","freq":"","out":"out","x":923.8889236450195,"y":482.22222328186035,"wires":[]},{"id":"ddc74e57.56d46","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":552.0000190734863,"y":442.8888874053955,"wires":[["9217fb5f.d32038"]]},{"id":"9217fb5f.d32038","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":724.7778396606445,"y":483.44444274902344,"wires":[["e06237f7.5670b8"]]},{"id":"e97acd4d.6b444","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":724.7778396606445,"y":523.4444427490234,"wires":[["e06237f7.5670b8"]]},{"id":"7424361f.1e56c8","type":"debug","z":"c122c592.5ac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":547.7777938842773,"y":676.6666507720947,"wires":[]},{"id":"3a02a94f.7e36a6","type":"rpi-gpio in","z":"c122c592.5ac158","name":"BUTTON","pin":"22","intype":"tri","debounce":"25","read":false,"x":150.00000762939453,"y":724.4444236755371,"wires":[["d5455f36.f2899"]]},{"id":"d5455f36.f2899","type":"function","z":"c122c592.5ac158","name":"","func":"// var msg = { payload:\"Reducing Speed...\" };\nmsg.payload = \"Reducing Speed...\";\n\nreturn msg;","outputs":1,"noerr":0,"x":353.3333396911621,"y":724.4444704055786,"wires":[["7424361f.1e56c8","235fb198.4be3be","5601d327.dc7a5c","ce60d2c5.cd16b"]]},{"id":"dc982a67.e2bee8","type":"rpi-gpio out","z":"c122c592.5ac158","name":"RED LED","pin":"12","set":true,"level":"0","freq":"","out":"out","x":777.7777900695801,"y":754.4444398880005,"wires":[]},{"id":"e2f5a10.d627a6","type":"rpi-gpio out","z":"c122c592.5ac158","name":"GREEN LED","pin":"18","set":true,"level":"0","freq":"","out":"out","x":791.1110992431641,"y":865.5555534362793,"wires":[]},{"id":"e6c73e68.f9877","type":"rpi-gpio out","z":"c122c592.5ac158","name":"YELLOW LED","pin":"16","set":true,"level":"0","freq":"","out":"out","x":800.0000343322754,"y":811.1111068725586,"wires":[]},{"id":"235fb198.4be3be","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":562.2222366333008,"y":767.7777872085571,"wires":[["dc982a67.e2bee8","e6c73e68.f9877","e2f5a10.d627a6"]]},{"id":"5601d327.dc7a5c","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":393.3333282470703,"y":806.6666717529297,"wires":[["cc9b7f73.bdb37"]]},{"id":"cc9b7f73.bdb37","type":"change","z":"c122c592.5ac158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":561.1110916137695,"y":811.1111507415771,"wires":[["dc982a67.e2bee8","e6c73e68.f9877","e2f5a10.d627a6"]]},{"id":"17a9dd1b.4ece83","type":"inject","z":"c122c592.5ac158","name":"Off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":901.8889276981354,"y":186.66666412353516,"wires":[["aef53c68.263b1"]]},{"id":"f8ea9247.b7d0d","type":"hue-light","z":"c122c592.5ac158","name":"Hue color lamp 2","bridge":"16812e91.708ac1","lightid":"4","colornamer":true,"x":1298.555534362793,"y":236.55554294586182,"wires":[[]]},{"id":"252c7b95.b95a24","type":"function","z":"c122c592.5ac158","name":"RED_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 80,\n    \"rgb\": [255, 0, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1074.0000305175781,"y":213.55555152893066,"wires":[["f8ea9247.b7d0d"]]},{"id":"a6d018f6.866f78","type":"hue-light","z":"c122c592.5ac158","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1299.2222156524658,"y":336.22223949432373,"wires":[[]]},{"id":"b01b9068.1f4a1","type":"function","z":"c122c592.5ac158","name":"YELLOW_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 40,\n    \"rgb\": [252, 252, 3]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1095.0000305175781,"y":312.55555152893066,"wires":[["a6d018f6.866f78"]]},{"id":"76e6aac0.e36b84","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":921.7778129577637,"y":365.00000190734863,"wires":[["fdc46676.74baf8"]]},{"id":"fdc46676.74baf8","type":"function","z":"c122c592.5ac158","name":"YELLOW_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"rgb\": [252, 252, 3]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1100.000087738037,"y":355.9999687373638,"wires":[["a6d018f6.866f78"]]},{"id":"36bad57b.f9fdea","type":"hue-light","z":"c122c592.5ac158","name":"Hue color lamp 1","bridge":"16812e91.708ac1","lightid":"3","colornamer":true,"x":1304.6667823791504,"y":449.8888988494873,"wires":[[]]},{"id":"db044021.1a28f","type":"function","z":"c122c592.5ac158","name":"BLUE_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 40,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1091.5555877685547,"y":412.99999237060547,"wires":[["36bad57b.f9fdea"]]},{"id":"60f0dd8.5dcdb24","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":954.1111907958984,"y":533.6666660308838,"wires":[["b41c66d2.7a6ed8"]]},{"id":"b41c66d2.7a6ed8","type":"function","z":"c122c592.5ac158","name":"BLUE_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1095.111213684082,"y":486.44446754455566,"wires":[["36bad57b.f9fdea"]]},{"id":"17eddd4c.e5f0f3","type":"function","z":"c122c592.5ac158","name":"BLUE_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1091.777816772461,"y":450.2222099304199,"wires":[["36bad57b.f9fdea"]]},{"id":"bb40e231.a6cfc","type":"debug","z":"c122c592.5ac158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":366.6666946411133,"y":640.0000905990601,"wires":[]},{"id":"ce60d2c5.cd16b","type":"websocket out","z":"c122c592.5ac158","name":"","server":"82d50fd7.1b494","client":"","x":558.8889083862305,"y":726.6666946411133,"wires":[]},{"id":"572b3644.bf4ce8","type":"inject","z":"c122c592.5ac158","name":"","topic":"","payload":"I work Mate","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.66669464111328,"y":640.0000314712524,"wires":[["bb40e231.a6cfc"]]},{"id":"3db1454a.b829aa","type":"alexa-remote-sequence","z":"c122c592.5ac158","name":"","account":"c2f8cc11.191f7","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Better luck next time!"}],"x":725.0000839233398,"y":180.11110591888428,"wires":[[]]},{"id":"59c3ec67.599064","type":"alexa-remote-sequence","z":"c122c592.5ac158","name":"","account":"c2f8cc11.191f7","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Speed Up Collected!"}],"x":548.5555877685547,"y":508.55555725097656,"wires":[[]]},{"id":"85e621c3.a38f6","type":"switch","z":"c122c592.5ac158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Intro Message...","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":369.0000305175781,"y":229.55555152893066,"wires":[["b864d2c8.ca7de","ed5de444.3d47a8"]]},{"id":"b864d2c8.ca7de","type":"alexa-remote-sequence","z":"c122c592.5ac158","name":"","account":"c2f8cc11.191f7","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"May the odds be ever in your favour"}],"x":549.0000305175781,"y":182.55555152893066,"wires":[[]]},{"id":"b513c511.6d3e18","type":"function","z":"c122c592.5ac158","name":"RED_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1074.0000305175781,"y":265.55555152893066,"wires":[["f8ea9247.b7d0d"]]},{"id":"c3e4a39d.6381","type":"comment","z":"c122c592.5ac158","name":"RED","info":"","x":1259.222255706787,"y":201.4444408416748,"wires":[]},{"id":"55056248.8f799c","type":"comment","z":"c122c592.5ac158","name":"YELLOW","info":"","x":1268.5556449890137,"y":300.44444274902344,"wires":[]},{"id":"aca14474.d4fc48","type":"comment","z":"c122c592.5ac158","name":"BLUE","info":"","x":1265.9999542236328,"y":413.111120223999,"wires":[]},{"id":"327ef198.82d7be","type":"comment","z":"c122c592.5ac158","name":"Start Message","info":"","x":560,"y":140,"wires":[]},{"id":"640e132.37f67ec","type":"comment","z":"c122c592.5ac158","name":"'Speed Up' Message","info":"","x":558.8888854980469,"y":558.3333148956299,"wires":[]},{"id":"ebc8875.f649078","type":"comment","z":"c122c592.5ac158","name":"'Better Luck Next Time' Message","info":"","x":870,"y":140,"wires":[]},{"id":"ead96702.cd85c8","type":"alexa-remote-action","z":"c122c592.5ac158","name":"","account":"a8ece15a.f993d","target_type":"select","target_value":"playMusicProvider","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","options":{"checkAuthentication":{},"createNotification":{"type":{"type":"str","value":"Alarm"},"label":{"type":"str","value":""},"value":{"type":"str","value":"2019-01-01T00:00:00"},"status":{"type":"str","value":"ON"},"sound":{"type":"str","value":""}},"deleteNotification":{"id":{"type":"str","value":""}},"tuneinSearch":{"query":{"type":"str","value":""}},"findDevice":{},"renameDevice":{"newName":{"type":"str","value":""}},"deleteDevice":{},"executeAutomationRoutine":{"utteranceOrId":{"type":"str","value":""}},"playMusicProvider":{"providerId":{"type":"select","value":"SPOTIFY"},"searchPhrase":{"type":"str","value":"Moon Funk"}},"sendTextMessage":{"conversationId":{"type":"str","value":""},"text":{"type":"str","value":""}},"deleteSmarthomeDevice":{"smarthomeDevice":{"type":"str","value":""}},"deleteSmarthomeGroup":{"smarthomeGroup":{"type":"str","value":""}},"deleteAllSmarthomeDevices":{},"discoverSmarthomeDevice":{},"querySmarthomeDevices":{"applicanceIds":{"type":"str","value":""},"entityType":{"type":"str","value":""}},"connectBluetooth":{"address":{"type":"str","value":""}},"unpaireBluetooth":{"address":{"type":"str","value":""}},"disconnectBluetooth":{"address":{"type":"str","value":""}}},"x":610,"y":60,"wires":[[]]},{"id":"b9cb775b.42b0e8","type":"alexa-remote-action","z":"c122c592.5ac158","name":"","account":"a8ece15a.f993d","target_type":"select","target_value":"playMusicProvider","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","options":{"checkAuthentication":{},"createNotification":{"type":{"type":"str","value":"Alarm"},"label":{"type":"str","value":""},"value":{"type":"str","value":"2019-01-01T00:00:00"},"status":{"type":"str","value":"ON"},"sound":{"type":"str","value":""}},"deleteNotification":{"id":{"type":"str","value":""}},"tuneinSearch":{"query":{"type":"str","value":""}},"findDevice":{},"renameDevice":{"newName":{"type":"str","value":""}},"deleteDevice":{},"executeAutomationRoutine":{"utteranceOrId":{"type":"str","value":""}},"playMusicProvider":{"providerId":{"type":"select","value":"SPOTIFY"},"searchPhrase":{"type":"str","value":"feel it still - medasin remix"}},"sendTextMessage":{"conversationId":{"type":"str","value":""},"text":{"type":"str","value":""}},"deleteSmarthomeDevice":{"smarthomeDevice":{"type":"str","value":""}},"deleteSmarthomeGroup":{"smarthomeGroup":{"type":"str","value":""}},"deleteAllSmarthomeDevices":{},"discoverSmarthomeDevice":{},"querySmarthomeDevices":{"applicanceIds":{"type":"str","value":""},"entityType":{"type":"str","value":""}},"connectBluetooth":{"address":{"type":"str","value":""}},"unpaireBluetooth":{"address":{"type":"str","value":""}},"disconnectBluetooth":{"address":{"type":"str","value":""}}},"x":1110,"y":60,"wires":[[]]},{"id":"615d9b4.ba86364","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":60,"wires":[["b9cb775b.42b0e8"]]},{"id":"ed5de444.3d47a8","type":"delay","z":"c122c592.5ac158","name":"","pauseType":"delay","timeout":"2600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":60,"wires":[["ead96702.cd85c8"]]},{"id":"82d50fd7.1b494","type":"websocket-listener","z":"c122c592.5ac158","path":"/ws/simple","wholemsg":"false"},{"id":"dc178bed.18a9b8","type":"wiotp-credentials","z":"","name":"","org":"40oe61","serverName":"","devType":"RaspberryPi","devId":"Pi1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"16812e91.708ac1","type":"hue-bridge","z":"","name":"Philips hue ","bridge":"192.168.0.22","key":"eX73dVf5gA6mYEU-B0V36NIpAi6ssHTjmz9T4Apw","interval":"3000"},{"id":"c2f8cc11.191f7","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"169.254.243.241","proxyPort":"3456","cookieFile":"alexa-cookie.json","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"a8ece15a.f993d","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"169.254.243.241","proxyPort":"3456","cookieFile":"alexa-cookie.json","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"}]