NodeRED_Flows/twitter_tone_export_flow.txt
[{"id":"977bc3fc.27028","type":"twitter in","z":"debe702b.0d299","twitter":"","tags":"","user":"false","name":"Listen to twitter feed","inputs":1,"x":238,"y":100,"wires":[["1dfb3e7e.16aff2","a6d29cdb.ccdbc","666ec5da.768b6c"]]},{"id":"1dfb3e7e.16aff2","type":"debug","z":"debe702b.0d299","name":"msg.tweet details","active":true,"console":"false","complete":"tweet","x":656,"y":49,"wires":[]},{"id":"666ec5da.768b6c","type":"function","z":"debe702b.0d299","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":147,"wires":[["84257129.e9023","ad05ebad.7355c8"]]},{"id":"ad05ebad.7355c8","type":"debug","z":"debe702b.0d299","name":"","active":true,"console":"false","complete":"false","x":879,"y":158,"wires":[]},{"id":"a6d29cdb.ccdbc","type":"debug","z":"debe702b.0d299","name":"","active":true,"console":"false","complete":"tweet.text","x":789,"y":89,"wires":[]},{"id":"6263f6d4.06a4c8","type":"inject","z":"debe702b.0d299","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["266537c6.8219d8"]]},{"id":"266537c6.8219d8","type":"change","z":"debe702b.0d299","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["666ec5da.768b6c"]]},{"id":"c632b904.a28178","type":"inject","z":"debe702b.0d299","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["266537c6.8219d8"]]},{"id":"a15e7a82.71aa38","type":"inject","z":"debe702b.0d299","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["266537c6.8219d8"]]},{"id":"e912a71d.139b58","type":"comment","z":"debe702b.0d299","name":"Paste API keys for Watson Tone Analyzer","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Tone Analyzer service\n4. Restage your Cloud Foundry application","x":250,"y":380,"wires":[]},{"id":"c955e8a.a6b8b18","type":"debug","z":"debe702b.0d299","name":"Tone categories","active":true,"console":"false","complete":"payload","x":780,"y":340,"wires":[]},{"id":"15ce85e1.7c4eda","type":"function","z":"debe702b.0d299","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["4f80deae.6691f","a45f389c.1db8f8"]]},{"id":"4f80deae.6691f","type":"debug","z":"debe702b.0d299","name":"Score","active":true,"console":"false","complete":"topic","x":750,"y":380,"wires":[]},{"id":"5f13340b.5b71ac","type":"debug","z":"debe702b.0d299","name":"Print msg.response","active":true,"console":"false","complete":"response","x":622,"y":278,"wires":[]},{"id":"84257129.e9023","type":"watson-tone-analyzer-v3","z":"debe702b.0d299","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","x":270,"y":328,"wires":[["15ce85e1.7c4eda","6d9b316d.ec98b","5f13340b.5b71ac"]]},{"id":"6d9b316d.ec98b","type":"change","z":"debe702b.0d299","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["c955e8a.a6b8b18"]]},{"id":"a45f389c.1db8f8","type":"switch","z":"debe702b.0d299","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","outputs":5,"x":340,"y":600,"wires":[["1881f3c6.7148ec"],["9063a954.e6d528"],["5dbdfad4.eff464"],["a7f89153.9066e"],["a39ecbcd.a221b8"]]},{"id":"9e0710af.e8f41","type":"comment","z":"debe702b.0d299","name":"Extract highest emotion","info":"","x":760,"y":420,"wires":[]},{"id":"9063a954.e6d528","type":"change","z":"debe702b.0d299","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":560,"wires":[["bafc5204.0b73"]]},{"id":"a7f89153.9066e","type":"change","z":"debe702b.0d299","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["bafc5204.0b73"]]},{"id":"5dbdfad4.eff464","type":"change","z":"debe702b.0d299","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":600,"wires":[["bafc5204.0b73"]]},{"id":"1881f3c6.7148ec","type":"change","z":"debe702b.0d299","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["bafc5204.0b73"]]},{"id":"a39ecbcd.a221b8","type":"change","z":"debe702b.0d299","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":680,"wires":[["bafc5204.0b73"]]},{"id":"bafc5204.0b73","type":"template","z":"debe702b.0d299","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This tweet expresses {{topic}} - {{tweet.text}}","output":"str","x":750,"y":600,"wires":[["4b521ca5.15c1c4"]]},{"id":"4b521ca5.15c1c4","type":"debug","z":"debe702b.0d299","name":"","active":true,"console":"false","complete":"false","x":1029,"y":594,"wires":[]},{"id":"6b611336.32e98c","type":"comment","z":"debe702b.0d299","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"d0aabe3f.5ae63","type":"inject","z":"debe702b.0d299","name":"","topic":"","payload":"trump","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":74.5,"y":101,"wires":[["977bc3fc.27028"]]},{"id":"7738df6a.f391","type":"inject","z":"debe702b.0d299","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":200,"wires":[["977bc3fc.27028"]]}]