NodeRED_Flows/whack-a-mole.json
[{"id":"da613c24.193c9","type":"websocket in","z":"e2f862af.6242a","name":"","server":"ddf43fa7.c589a","client":"","x":100,"y":260,"wires":[["f9e255d1.7b0da8","d8a12680.0c4a68","b9bff4f0.ee4498"]]},{"id":"f9e255d1.7b0da8","type":"debug","z":"e2f862af.6242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":200,"wires":[]},{"id":"9e765fb9.cd36","type":"alexa-remote-sequence","z":"e2f862af.6242a","name":"","account":"a18e5d.60d2f1a","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Time's up"}],"x":120,"y":340,"wires":[[]]},{"id":"538e9f13.13e61","type":"http request","z":"e2f862af.6242a","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":930,"y":140,"wires":[["6e88ef7.60cf21","f0a33a99.f03978"]]},{"id":"1f12a622.7cc1da","type":"change","z":"e2f862af.6242a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":" ","fromt":"str","to":"+","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":">","fromt":"str","to":"%3E","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":"%2C","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"'","fromt":"str","to":"%27","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"=","fromt":"str","to":"%3D","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":";","fromt":"str","to":"%3B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["dbd8452e.acdc58"]]},{"id":"dbd8452e.acdc58","type":"template","z":"e2f862af.6242a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://fbdemo.aidbox.app/q?query={{payload}}","output":"str","x":560,"y":140,"wires":[["a6032ec5.ed5c"]]},{"id":"a6032ec5.ed5c","type":"change","z":"e2f862af.6242a","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":140,"wires":[["538e9f13.13e61"]]},{"id":"6e88ef7.60cf21","type":"debug","z":"e2f862af.6242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rows[70][1]","targetType":"msg","x":1030,"y":180,"wires":[]},{"id":"babb8434.e62d58","type":"change","z":"e2f862af.6242a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"SELECT p.id, p.resource->'name'->0->'family' AS name, c.resource->'code'->'text' AS disease FROM patient p FULL OUTER JOIN condition c ON p.id = c.resource->'subject'->>'id'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":140,"wires":[["1f12a622.7cc1da"]]},{"id":"f0a33a99.f03978","type":"alexa-remote-sequence","z":"e2f862af.6242a","name":"","account":"a18e5d.60d2f1a","serialOrName_type":"str","serialOrName_value":"G090RF04917502T5","sequenceInputs":[{"command":"speak","value_type":"str","value_value":"Good luck"},{"command":"speak","value_type":"msg","value_value":"payload.rows[70][1]"}],"x":1020,"y":80,"wires":[[]]},{"id":"d8a12680.0c4a68","type":"switch","z":"e2f862af.6242a","name":"Mole Hole Controller","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Mole at pos: (0.0, 3.0, 12.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (-1.5, 2.0, 10.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (1.5, 2.0, 12.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (0.0, 1.0, 8.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (-1.5, 0.0, 6.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (1.5, 0.0, 6.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (0.0, -1.0, 4.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (-1.5, -2.0, 2.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (1.5, -2.0, 2.0)","vt":"str"},{"t":"eq","v":"Mole at pos: (0.0, -3.0, 0.0)","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":320,"y":620,"wires":[["59e162ae.48afec","80bfbbf2.9bb7f8"],["3e9bf656.e5031a","4bddb648.74a948"],["8b5e1dd3.482ce","86ff7c47.4fa26"],["4f1edc07.978d04","3e7918f.e6397e8"],["20199e17.2d4bb2","2c80c533.073e4a"],["bfcb01cd.e9c5b","2201a374.3682cc"],["f5d74155.bffa4","d2ea7f3b.8227d"],["f63e207f.087d8","10ad24cb.bf8ccb"],["24912be6.8a3194","d45e30b4.835dd"],["11fa1ec2.3dae91","eed4fe54.603bc"]]},{"id":"ebd8c965.5eaf78","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":850,"y":220,"wires":[[]]},{"id":"80bfbbf2.9bb7f8","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":280,"wires":[["88d4251f.965758"]]},{"id":"88d4251f.965758","type":"function","z":"e2f862af.6242a","name":"HOLE1_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["ebd8c965.5eaf78"]]},{"id":"59e162ae.48afec","type":"function","z":"e2f862af.6242a","name":"HOLE1_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["ebd8c965.5eaf78"]]},{"id":"1f02fe93.32a091","type":"debug","z":"e2f862af.6242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":60,"wires":[]},{"id":"b9bff4f0.ee4498","type":"switch","z":"e2f862af.6242a","name":"Game Controller","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Game Start...","vt":"str"},{"t":"eq","v":"Player Dead...","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":354.88890075683594,"y":238.22221755981445,"wires":[["1f02fe93.32a091","babb8434.e62d58","e9fb490f.e088e8","64176249.8e374c"],["1f02fe93.32a091","9e765fb9.cd36","212f033f.e909bc","dabd2275.fb548"]]},{"id":"3e9bf656.e5031a","type":"function","z":"e2f862af.6242a","name":"HOLE2_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["dc8ad960.b5ab48"]]},{"id":"5cac1f0e.ab0d8","type":"function","z":"e2f862af.6242a","name":"HOLE2_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["dc8ad960.b5ab48"]]},{"id":"c733b221.bc829","type":"function","z":"e2f862af.6242a","name":"HOLE3_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":440,"wires":[["ceefc91f.d2f5d8"]]},{"id":"4f1edc07.978d04","type":"function","z":"e2f862af.6242a","name":"HOLE4_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":500,"wires":[["c17a0885.0c4c98"]]},{"id":"75aaf7fb.9a10b8","type":"function","z":"e2f862af.6242a","name":"HOLE4_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":540,"wires":[["c17a0885.0c4c98"]]},{"id":"20199e17.2d4bb2","type":"function","z":"e2f862af.6242a","name":"HOLE5_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["4e2a4e84.30e77"]]},{"id":"3fe4f283.91552e","type":"function","z":"e2f862af.6242a","name":"HOLE5_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":640,"wires":[["4e2a4e84.30e77"]]},{"id":"bfcb01cd.e9c5b","type":"function","z":"e2f862af.6242a","name":"HOLE6_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":700,"wires":[["2b2eef07.ffc37"]]},{"id":"e0c687e6.f66378","type":"function","z":"e2f862af.6242a","name":"HOLE6_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":740,"wires":[["2b2eef07.ffc37"]]},{"id":"f5d74155.bffa4","type":"function","z":"e2f862af.6242a","name":"HOLE7_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":800,"wires":[["af26acc5.842cd"]]},{"id":"3c965853.d29248","type":"function","z":"e2f862af.6242a","name":"HOLE7_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":840,"wires":[["af26acc5.842cd"]]},{"id":"f63e207f.087d8","type":"function","z":"e2f862af.6242a","name":"HOLE8_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":920,"wires":[["2de40618.b86b6a"]]},{"id":"207801d6.7fc11e","type":"function","z":"e2f862af.6242a","name":"HOLE8_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":960,"wires":[["2de40618.b86b6a"]]},{"id":"24912be6.8a3194","type":"function","z":"e2f862af.6242a","name":"HOLE9_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1020,"wires":[["876ab813.dcded8"]]},{"id":"d1b3a3aa.e3642","type":"function","z":"e2f862af.6242a","name":"HOLE9_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1060,"wires":[["876ab813.dcded8"]]},{"id":"11fa1ec2.3dae91","type":"function","z":"e2f862af.6242a","name":"HOLE10_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1120,"wires":[["663be79a.03de08"]]},{"id":"50e97723.8ccbe8","type":"function","z":"e2f862af.6242a","name":"HOLE10_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1160,"wires":[["663be79a.03de08"]]},{"id":"4bddb648.74a948","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":360,"wires":[["5cac1f0e.ab0d8"]]},{"id":"dc8ad960.b5ab48","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":950,"y":320,"wires":[[]]},{"id":"8b5e1dd3.482ce","type":"function","z":"e2f862af.6242a","name":"HOLE3_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 235, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["ceefc91f.d2f5d8"]]},{"id":"86ff7c47.4fa26","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":420,"wires":[["c733b221.bc829"]]},{"id":"3e7918f.e6397e8","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":540,"wires":[["75aaf7fb.9a10b8"]]},{"id":"2c80c533.073e4a","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":640,"wires":[["3fe4f283.91552e"]]},{"id":"2201a374.3682cc","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":740,"wires":[["e0c687e6.f66378"]]},{"id":"d2ea7f3b.8227d","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":840,"wires":[["3c965853.d29248"]]},{"id":"10ad24cb.bf8ccb","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":960,"wires":[["207801d6.7fc11e"]]},{"id":"d45e30b4.835dd","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":1060,"wires":[["d1b3a3aa.e3642"]]},{"id":"eed4fe54.603bc","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1160,"wires":[["50e97723.8ccbe8"]]},{"id":"ceefc91f.d2f5d8","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1010,"y":420,"wires":[[]]},{"id":"c17a0885.0c4c98","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1110,"y":520,"wires":[[]]},{"id":"4e2a4e84.30e77","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1170,"y":620,"wires":[[]]},{"id":"2b2eef07.ffc37","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1250,"y":720,"wires":[[]]},{"id":"af26acc5.842cd","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1310,"y":820,"wires":[[]]},{"id":"2de40618.b86b6a","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1370,"y":940,"wires":[[]]},{"id":"876ab813.dcded8","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1490,"y":1040,"wires":[[]]},{"id":"663be79a.03de08","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1650,"y":1140,"wires":[[]]},{"id":"64176249.8e374c","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":240,"wires":[["cc95769e.966858"]]},{"id":"dabd2275.fb548","type":"delay","z":"e2f862af.6242a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1233.3332977294922,"y":317.4444417953491,"wires":[["a28b4ab2.8fa128"]]},{"id":"212f033f.e909bc","type":"function","z":"e2f862af.6242a","name":"PLAYER_DEAD_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [255, 0, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1456.7777481079102,"y":315.3333320617676,"wires":[["d8d57ffb.9dd04"]]},{"id":"a28b4ab2.8fa128","type":"function","z":"e2f862af.6242a","name":"PLAYER_DEAD_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0,\n    \"rgb\": [0, 8, 252]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1457.7777481079102,"y":354.3333206176758,"wires":[["d8d57ffb.9dd04"]]},{"id":"cc95769e.966858","type":"function","z":"e2f862af.6242a","name":"GAME_START_OFF","func":"var msg;\n\nmsg.payload = {\n    \"on\": false,\n    \"transitionTime\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1449.2222213745117,"y":273.33333110809326,"wires":[["d8d57ffb.9dd04"]]},{"id":"e9fb490f.e088e8","type":"function","z":"e2f862af.6242a","name":"GAME_START_ON","func":"var msg;\n\nmsg.payload = {\n    \"on\": true,\n    \"transitionTime\": 0,\n    \"brightness\": 60,\n    \"rgb\": [0, 255, 0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1450.7777938842773,"y":236.66666793823242,"wires":[["d8d57ffb.9dd04"]]},{"id":"d8d57ffb.9dd04","type":"hue-light","z":"e2f862af.6242a","name":"Hue color lamp 1","bridge":"a306d744.f48de8","lightid":"1","colornamer":true,"x":1726.555534362793,"y":336.4444465637207,"wires":[[]]},{"id":"ddf43fa7.c589a","type":"websocket-listener","z":"","path":"/ws/whack-a-mole","wholemsg":"false"},{"id":"a18e5d.60d2f1a","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"127.0.0.1","proxyPort":"3456","cookieFile":"alexa-cookie.json","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"a306d744.f48de8","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.24","key":"kyItgrcjVtiLf0FNXOiGFI0LyCSRFeSMJNAQaeDu","interval":"3000"}]